<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Method Details - {{ method_name }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="container mx-auto py-4">
    <h2 class="text-2xl text-center text-teal-600 font-semibold mb-6">Recent Requests for {{ method_name }}</h2>

    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb" class="my-3 px-6">
        <ol class="breadcrumb flex text-lg font-semibold">
            <li class="breadcrumb-item">
                <a href="{% url 'silk:profiling' %}" class="text-teal-600 hover:underline">Profiling</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'user_profiling' %}" class="text-teal-600 hover:underline">>Account</a>
            </li>
            <li class="breadcrumb-item active text-gray-700" aria-current="page"> > {{ method_name }}</li>
        </ol>
    </nav>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-teal-600 mb-4">Recent Requests</h3>

        {% if recent_requests %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                {% for request in recent_requests %}
                    <div class="p-4 border rounded-lg shadow-md">
                        <p><strong>Path:</strong> {{ request.path }}</p>
                        <p><strong>Time:</strong> {{ request.time_taken }} ms</p>
                        <p><strong>Start:</strong> {{ request.start_time }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-gray-500">No recent requests found.</p>
        {% endif %}
    </div>
</div>

</body>
</html>
